*{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
}
/* body{
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
} */
:root{
    --primaryTitle-color: #131318;
    --paragraph-color: rgba(19, 19, 24, 0.70);
    --btnbg-color: #FF5400;
}

/* header part design start*/
header{
    margin: 30px 130px;
}
.t-letter{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 2.2rem;
}
.t-color{
    color: #FF5400;
    font-size: 2.2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-name{
    display: flex;
}
.nav-list ul{
    display: flex;
}
.nav-list ul li{
    padding-right: 40px;
    list-style: none;
}
.nav-list ul li a {
    text-decoration: none;
    color: var(--paragraph-color);
}
.nav-list ul li:nth-child(1) a {
    font-weight: 700;
    color: #FF5400;
}
.nav-list ul li:nth-child(5){
    padding-right: 0;
    
}


.header-photo-container{
    background-image: url('./Images/header-photo.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
}
.header-sub-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.808) , rgba(0, 0, 0, 0));
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text{
    width: 60%;
}
.header-section-title{
    font-size: 4rem;
    color: #fff;
    padding-bottom: 24px;
}
.header-section-sub-title{
    color: #fff;
}

.sub-header-box{
    width: 80%;
    height: 15vh;
    background-color: #ffffff57;
    border-radius: 8px;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.sub-header-box> input, select{
    border-radius: 8px;
    background-color: #fff;
    width: 200px;
    height: 10vh;
    border: 0;
    padding: 0  16px;
    color: var(--paragraph-color);
}
.primary-btn{
    width: 200px;
    height: 10vh;
    background-color: var(--btnbg-color);
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    border: 0;
}
/* header part design end */