*{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    max-width: 1400px;
    margin: 0 auto;
}
:root{
    --primaryTitle-color: #131318;
    --paragraph-color: rgba(19, 19, 24, 0.70);
    --btnbg-color: #FF5400;
}

/* header part design start*/
header{
    margin: 30px 130px;
}
.t-letter{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 2.2rem;
}
.t-color{
    color: #FF5400;
    font-size: 2.2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-name{
    display: flex;
}
.nav-list ul{
    display: flex;
}
.nav-list ul li{
    padding-right: 40px;
    list-style: none;
}
.nav-list ul li a {
    text-decoration: none;
    color: var(--paragraph-color);
}
.nav-list ul li:nth-child(1) a {
    font-weight: 700;
    color: #FF5400;
}
.nav-list ul li:nth-child(5){
    padding-right: 0;
    
}


.header-photo-container{
    background-image: url('./Images/header-photo.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
}
.header-sub-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.808) , rgba(0, 0, 0, 0));
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text{
    width: 60%;
}
.header-section-title{
    font-size: 4rem;
    color: #fff;
    padding-bottom: 24px;
}
.header-section-sub-title{
    color: #fff;
}

.sub-header-box{
    width: 80%;
    height: 15vh;
    background-color: #ffffff57;
    border-radius: 8px;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.sub-header-box> input, select{
    border-radius: 8px;
    background-color: #fff;
    width: 200px;
    height: 10vh;
    border: 0;
    padding: 0  16px;
    color: var(--paragraph-color);
}
.primary-btn{
    width: 200px;
    height: 10vh;
    background-color: var(--btnbg-color);
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
/* header part design end */

/* main section start */
main{
    margin: 30px 130px;
}
/* Popular Tours design start */
.Popular-Tours-container{
    margin: 100px 0;
    display: flex;
    gap: 30px;
}
.Popular-Tours-container > div{
    width: 50%;
}
.common-title{
    color: var(--primaryTitle-color);
    font-size: 2.8rem;
    font-weight: 800;
}
.common-paragraph{
    color: var(--paragraph-color);
    padding: 22px 0;
}
.popular-tours-text> ul{
    list-style-position: inside;
    padding: 5px 0;
}
.popular-tours-text li{
    padding: 5px 0;
}
.common-btn {
    width: 150px;
    height: 10vh;
    background-color: var(--btnbg-color);
    color: #fff;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
.popular-tours-photo img{
    width: 100%;
}
/* Popular Tours design end */

/* Your Destination section start */
.Destination-text{
    margin: 10px auto;
    text-align: center;
    max-width: 643px;
}
.Destination-container{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.Destination-container img{
    width: 100%;
}
/* Your Destination section end */

/* Why Choose Us section start */
.Card-Container{
    display: flex;
    gap: 24px;
    justify-items: center;
    box-sizing: border-box;
}
.card{
    width: 530px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    box-sizing: border-box;
}
.card-bg-change{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.Card-center{
    display: flex;
    margin-top: 24px;
    justify-content: center;
}
.card-title{
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 24px;
}
/* Why Choose Us section end */


/* Deals & Discounts section start */
.Deals-Discounts-sub-container{
    background-image: url('./Images/Group\ 39.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 500px; */
    border-radius: 16px;
    margin-top: 50px;
    /* padding-right: 50px; */
}
.Deals-Discounts-info-content{
    border-radius: 16px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.Deals-Discounts-box{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 60%;
    padding: 25px;
    margin: 50px;
    box-sizing: border-box;
}
.Deals-Discounts-price{
    font-weight: 700;
    margin: 10px 0;
    color: var(--btnbg-color);
}
.text-one{
    display: flex;
    gap: 10px;
}

/* photo two added  */
.DealsDiscounts-sub-container{
    background-image: url('./Images/Discounts.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 500px; */
    border-radius: 16px;
    margin-top: 50px;
    /* padding-left: 50px; */
}
.DealsDiscounts-info-content{
    border-radius: 16px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.DealsDiscounts-box{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 60%;
    padding: 25px;
    margin: 50px;
    box-sizing: border-box;
}
/* deals discounts photo two end */


/* Deals & Discounts section end */


/* Newsletter section design added start */
    .newsletter-container{
        display: flex;
        gap: 24px;
        margin: 30px auto;
    }
    .newsletters{
        border: 1px solid #FF5400;
        border-radius: 16px;
        padding: 40px;
    }
    .user-form{
        display: block;
        width: 392px;
        /* border: 1px solid red; */
    }
    .user-form input , .Subscribe{
        width: 100%;
        box-sizing: border-box;
        padding: 16px 20px;
        margin-bottom: 16px;
        border-radius: 8px;
        height: 52px;
        border: 0;
    }
    .user-form input{
        background: rgba(19, 19, 24, 0.05);
    }
    .user-form input[type="email"] {
        margin-bottom: 20px;
    }

    .newsletter img{
        width: 85%;
        height: 422px;
    }
    .newsphoto{
        position: absolute;
    }
    .box{
        width: 100%;
        height: 70px;
        position: relative;
        text-align: center;
        background-color: var(--btnbg-color);
        border-radius: 16px;
        top:300px;
        left: 340px;
        transform: rotate(-30deg); 
        color: #fff;
    }
    .travel{
        font-weight: 400;
        font-size: 1.2em;
    }
    .save{
        font-size: 2rem;
        font-weight: 700;
    }

/* Newsletter section design added end */

/* main section end */


/* footer section start */
footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 170px;
}
.footer-container{
    text-align: center;
}
.footer-title{
    display: flex;
    justify-content: center;
}
.link-photo{
    display: flex;
    justify-content: center;
}
.link-photo a{
    padding: 30px;
}
.copyright{
    padding: 100px 0;
}
/* footer section end */







/* media query use for responsive */
@media screen and (max-width: 600px) {
    header{
        margin: 20px 30px;
    }
    nav , .sub-header-box, .Popular-Tours-container, .Destination-container, .Card-Container, .newsletter-container{
        flex-direction: column;
    }
    .nav-list ul li{
        padding-right: 12px;
    }
    .header-photo-container{
        height: 100%;
    }
    .header-section-title{
        font-size: 1.5rem;
        padding: 24px 0;
    }
    .sub-header-box{
        margin: 30px;
        height: 55vh;
    }
    .sub-header-box> input, select, button{
        border-radius: 5px;
        padding: 5px  16px;
    }
    .sub-header-box> input{
        padding: 5px  16px;
        width: calc(200px - 32px);
    }
    main{
        margin: 0 30px;
    }
    .Popular-Tours-container{
        gap: 25px;
        margin-top: 25px;
    }
    .Popular-Tours-container > div{
        width: 100%;
    }
    .Card-Container div{
        width: 100%;
    }
    .common-title{
        font-size: 2rem;
    }
    .user-form{
        display: block;
        width: 250px;
    }
    .newsletter img{
        width: 92%;
    }
    .box{
        position: relative;
        width: 300px;
        top:280px;
        left: 20px;
        transform: rotate(-30deg); 
        color: #fff;
    }
    footer{
        padding: 100px 20px;
    }
    .copyright{
        padding: 50px 0 0 0;
    }

    /* Deals & Discounts responsive */
    
    .Deals-Discounts-box{
        width: 100%;
        margin: 200px 16px 16px 16px;
    }
    .text-one{
        flex-direction: column;
        gap: 0;
    }
    .common-paragraph{
        padding: 5px 0;
    }

    .Deals-Discounts-box{
        width: 100%;
        margin: 200px 16px 16px 16px;
    }
    .DealsDiscounts-box{
        width: 100%;
        margin: 200px 16px 16px 16px;
    }
}